.env
__pycache__/url.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/__init__.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/cli.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/compat.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/ipython.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/main.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/parser.cpython-37.pyc
beappvir/lib/python3.7/site-packages/dotenv/__pycache__/version.cpython-37.pyc
beappvir/lib/python3.7/site-packages/pip/_internal/commands/__pycache__/wheel.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/archive_util.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/installer.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/package_index.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/py31compat.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/sandbox.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/ssl_support.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/__pycache__/wheel.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/_vendor/packaging/__pycache__/tags.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/_vendor/packaging/__pycache__/utils.cpython-37.pyc
beappvir/lib/python3.7/site-packages/setuptools/command/__pycache__/easy_install.cpython-37.pyc
__pycache__/
.vscode/
Url.pyc